
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}用户组管理{% endblock %}

<!--首部引入javascript-->
{% block title_load_javascript %}
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
{% endblock %}

<!--右侧类容-->
{% block context %}
    <!--添加用户组-->
    {% if login_user_is_super == '1' %}
        <div class="box box-primary" style="padding-left: 10px;">
            <div class="box-header with-border">
              <h3 class="box-title">添加用户组</h3>
            </div>
            <form role="form" action="{% url "user_group" %}" method="post">
                {% csrf_token %}
                <table style="padding-left: 30px;">
                    <tr style="height: 30px;">
                        <th>组名：</th>
                        <td>{{ obj.group_name }}</td>
                        <td style="color: red">{{ add_group_err }}</td>
                    </tr>
                    <tr style="height: 30px;">
                        <th>管理组：</th>
                        <td>
                            <input type="radio" name="is_super" value="0" checked="checked">否
                            <input type="radio" name="is_super" value="1">是
                        </td>
                        <td style="color: red"></td>
                    </tr>
                    <tr style="height: 30px;">
                        <th></th>
                        <td>
                            <button type="submit" class="btn btn-primary">添加用户组</button>
                        </td>
                        <td style="color: red"></td>
                    </tr>


                </table>

            </form>
          </div>
    {% endif %}
    <!--用户组列表-->
    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">用户组列表</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                <tr>
                  <th>ID</th>
                  <th>用户组名字</th>
                  <th>管理员组</th>
                  <th>组用户</th>
                  <th>管理主机</th>
                  <th>操作</th>
                </tr>
                {% for user_group in contacts %}
                <tr>
                  <td>{{ user_group.id }}</td>
                  <td>{{ user_group.group_name }}</td>
                  <td>
                      {% if user_group.is_super == "1"  %}
                          <span class="label label-success">管理组</span>
                      {% else %}
                          <span class="label label-warning">普通用户组</span>
                      {% endif %}
                  </td>
                  <td>
                      {% for i in user_group.users_set.values %}
                          {{ i.username }}&nbsp;&nbsp;
                      {% endfor %}

                  </td>
                  <td>
                      {% for i in user_group.hosts_set.values %}
                          {{ i.ip }}&nbsp;&nbsp;
                      {% endfor %}
                  </td>
                  <td>
                      {% if login_user_is_super == '1' %}
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger"  id="delete{{ user_group.id  }}">删除</button>
                      {% endif %}
                  </td>
                    <td></td>
                </tr>
                    <script>
                        $(function () {
                            $("#delete{{ user_group.id  }}").click(function(){  //当id get_msg_do点击的时候
                                var del_id={{ user_group.id }}
                                var url = '{% url "user_group_del" %}';  //设置变量URL的值
                                var data = {del_id:del_id,csrfmiddlewaretoken: '{{ csrf_token }}'};	//设置需要发送的数据
                                $.post(url,data,function(msg){  //get请求发送数据，并接受后端返回数据变量msg，msg名字可以自己定义
                                    if(msg.req_status=='1'){
                                        alert("{{ user_group.group_name }}删除成功");
                                        //location.href = "{{ request.META.HTTP_REFERER }}"
                                        location.href = "{% url "user_group" %}?page={{ page }}"
                                    }
                                });
                            });
                        })

                    </script>
                {% endfor %}

              </tbody></table>
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                    <!--上一页-->
                   {%  if contacts.has_previous %}
                        <li><a href="{% url "user_group" %}?page={{ page|add:-1 }}">«</a></li>
                   {% endif %}

                  {%  if contacts.has_previous %}
                    <li><a href="{% url "user_group" %}?page={{ page|add:-1 }}">{{ page|add:-1 }}</a></li>
                  {% endif %}

                  <li class="active"><a href="{% url "user_group" %}?page={{ page }}">{{ page }}</a></li>

                  {%  if contacts.has_next %}
                    <li><a href="{% url "user_group" %}?page={{ page|add:1 }}">{{ page|add:1 }}</a></li>
                  {% endif %}
                    <!--下一页-->
                  {%  if contacts.has_next %}
                    <li><a href="{% url "user_group" %}?page={{ page|add:1 }}">»</a></li>
                  {% endif %}
              </ul>
            </div>



            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

{% endblock %}

<!--底部引入javascript-->
{% block dibu_load_javascript %}
    <script>
        $(function () {
            //location.href = "{% url "jifang_add" %}"
        })

    </script>

{% endblock %}

