{% extends "base.html" %}

{% block title %}添加用户{% endblock %}

<!--首部引入javascript-->
{% block title_load_javascript %}{% endblock %}

<!--右侧类容-->
{% block context %}

    <div class="box" style="padding-left: 30px;">
        <div class="box-header with-border">
          <h3 class="box-title">添加用户</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body" style="">
            <form action="{% url "user_add" %}" method="post">
                {% csrf_token %}
                <table>
                    <tr style="height: 35px">
                        <th>用户名：</th>
                        <th>{{ obj.username }}</th>
                        <th>{{ obj.username.errors.as_text }}</th>
                    </tr>
                    <tr style="height: 35px">
                        <th>密码：</th>
                        <th>{{ obj.password }}</th>
                        <th>{{ obj.password.port.as_text }}</th>
                    </tr>
                    <tr style="height: 35px">
                        <th>用户组：</th>
                        <th>
                            <select name="groups">
                                {% for group in user_group_obj %}
                                    <option value ="{{ group.id }}">{{ group.group_name }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>{{ obj.password.errors.as_text }}</th>
                    </tr>

                    <tr style="height: 35px">
                        <th>禁用：</th>
                        <th><input type="radio" name="status" checked="checked" value="1">启用 <input type="radio" name="status" value="0">禁用</th>
                        <th>{{ obj.password.errors.as_text }}</th>
                    </tr>

                </table>

                <div class="box-footer" style="margin: 0 auto;">
                    {% if not user_group_obj %}
                        <span style="color: red">需要先添加机房才能显示添加主机按钮</span>
                    {% elif login_user_is_super == "0" %}
                        <span style="color: red">权限拒绝，只能管理员组能操作</span>
                    {% else %}
                        <button type="submit" class="btn btn-primary">添加用户</button>

                    {% endif %}

                </div>
            </form>
        </div>
        <!-- /.box-body
        <div class="box-footer">
            <span style="color: red;">{{ xinxi }}</span>
        </div>-->
      </div>

         {% if xinxi == "用户存在" %}
            <div class="callout callout-danger">
              <h4>Warning!</h4>
              <p>用户存在，不能重复添加</p>
            </div>
         {% elif xinxi == "添加成功" %}
            <div class="callout callout-info">
              <h4>Right!</h4>
              <p>添加成功</p>
            </div>
        {% endif %}

{% endblock %}

<!--底部引入javascript-->
{% block dibu_load_javascript %}{% endblock %}

